#!/usr/bin/env bash
# vim: ft=sh
set -e

function headIsDetached() {
    [[ $(git rev-parse --abbrev-ref --symbolic-full-name HEAD) == "HEAD" ]];
}

function binaryExists() {
    ls -l build/nimbus_beacon_node_${COMMIT} 2>&1 1>/dev/null
}

function fetchChanges() {
    # We cannot use "git pull" in here, because history may be changed upstream
    git fetch
    git reset --hard "origin/${BRANCH}"
}

function buildBinaries() {
    # Just one process so it doesn't affect the running beacon nodes.
    make -j1 update V=3
    make -j1 nimbus_beacon_node nimbus_signing_process V=3 \
        LOG_LEVEL="TRACE" NIMFLAGS="-d:testnet_servers_image -d:noSignalHandler"

    # Rename binaries to match commit the were built from.
    mv "build/nimbus_beacon_node" "build/nimbus_beacon_node_${COMMIT}"
    mv "build/nimbus_signing_process" "build/nimbus_signing_process_${COMMIT}"

    # Delete copies that are older than N days
    find build -mtime +{{ beacon_node_build_days_kept }} -exec rm '{}' \+
}

#-------------------------------------------------------------------------------

BRANCH="{{ beacon_node_repo_branch }}"
INSTALL_PATH="{{ beacon_node_service_bin_path }}"
SERVICE_NAME="{{ beacon_node_service_name }}"

echo " >>> Build Start: $(date -u +"%Y-%m-%dT%H:%M:%SZ")"

# Build the Beacon node binaries
pushd repo >/dev/null

# Detached HEAD means we're probably on a tag
if headIsDetached; then
    echo " >>> Deatached HEAD, nothing to fetch."
else
    echo " >>> Fetching changes..."
    fetchChanges
fi

COMMIT=$(git rev-parse --short=8 HEAD)

if binaryExists && [[ "$1" != "--force" ]]; then
    echo " >>> Binaries already built."
else
    echo " >>> Building binaries..."
    buildBinaries
fi

popd >/dev/null

NEW_BEACON_NODE="${PWD}/repo/build/nimbus_beacon_node_${COMMIT}.exe"
NEW_SIGNING_PROC="${PWD}/repo/build/nimbus_signing_process_${COMMIT}.exe" 
OLD_BEACON_NODE="${INSTALL_PATH}/nimbus_beacon_node.exe"
OLD_SIGNING_PROC="${INSTALL_PATH}/nimbus_signing_process.exe"

# Fix for symlink creation in Windows Git Bash.
# WARNING: Works only for Administrator and SYSTEM users.
export MSYS=winsymlinks:nativestrict

CHANGED=0
if [[ $(readlink "${OLD_BEACON_NODE}") != "${NEW_BEACON_NODE}" ||
      $(readlink "${OLD_SIGNING_PROC}") != "${NEW_SIGNING_PROC}" ]]; then
    echo " >>> Install binaries..."
    ln -vrfs "${NEW_BEACON_NODE}" "${OLD_BEACON_NODE}"
    ln -vrfs "${NEW_SIGNING_PROC}" "${OLD_SIGNING_PROC}"
    CHANGED=1
else
    echo " >>> No binaries required update."
fi

if [[ "${CHANGED}" -eq 1 ]]; then
    echo " >>> Restarting service..."
    net stop "${SERVICE_NAME}"
    net start "${SERVICE_NAME}"
fi

echo " >>> SUCCESS!"
